# This .gitignore file is based on this template:
# https://raw.githubusercontent.com/github/gitignore/master/C%2B%2B.gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Fox-specific stuff

# build folder
/build

# Visual Studio (Code) folders
.vscode
.vs

# CLion folders
.idea/